<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.lawnchair.lawnfeed">

    <!-- Let's break some rules... -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <permission
        android:name="app.lawnchair.lawnfeed.CONNECT_SERVICE"
        android:label="Connect to Lawnfeed service"
        android:permissionGroup="app.lawnchair.lawnfeed.CONNECT_SERVICE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".LauncherClientProxyService"
            android:enabled="true"
            android:exported="true" />

        <service android:name="amirz.aidlbridge.BridgeService">
            <intent-filter>
                <action android:name="com.android.launcher3.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>
        </service>

        <!-- Required for Lawnfeed updater -->
        <receiver
            android:name=".receivers.UpdateReceiver" />
        <activity android:name=".PermissionActivity"
            android:theme="@style/Theme.Transparent"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="false">
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.lawnchair.lawnfeed.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>