<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amirz.aidlbridge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:exported="true"
            android:name="amirz.aidlbridge.BridgeService">

            <intent-filter>
                <action android:name="com.android.launcher3.WINDOW_OVERLAY" />

                <data android:scheme="app" />
            </intent-filter>

        </service>

    </application>

</manifest>